@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary: 255 86 38; /* #ff5626 */
  --color-tertiary-lime: 224 255 169; /* #E0FFA9 */
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --color-primary: 255 86 38; /* #ff5626 */
    font-size: 16px;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  :root {
    font-size: 14px;
  }
}

* {
  @apply font-sans;
  scroll-behavior: smooth;
}

a {
  color: inherit !important
}

.ant-typography {
  color: inherit !important;
  position: relative !important;
}

h1.ant-typography {
  color: inherit !important;
  font-family: var(--font-serif) !important;
}